{% extends "minds/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}  
        <div class="readinglists stories">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Add Reading List
            </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Create a Reading List</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="readlist-name" class="form-label">Read List Name: </label>
                                <input type="text" class="form-control" id="readlist-name" placeholder="e.g. Romance">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="createReadlist()">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

            {% for readlist in readlists %}
                <div class="row readlist">
                    <div class="col-md-12">
                        <a href="{% url 'showReadlist' readlist.0.id %}"><h5>{{readlist.0.title}}</h5></a>
                        {% if readlist.1 <= 1  %}
                            <p>{{readlist.1}} story</p>
                        {% else %}
                            <p>{{readlist.1}} stories</p>
                        {% endif %}
                        
                    </div>  
                </div>                  
            {% endfor %}
        </div>
    {% else %}
            Not signed in.
    {% endif %}

{% endblock %}

{% block title %}Greate Minds -Reading Lists{% endblock %}

{% block notify %}
    {% if notificationsNum %}
        <span class="notifications">
            {{notificationsNum}}
        </span>
    {% endif %} 
{% endblock %}